@model KalyanaInfo.Models.Person


@{
    ViewData["Title"] = "Details";
}
    <div class="mr-auto ml-auto w-10 h-5 bg-info d-inline-block" >
        @if (string.IsNullOrEmpty(Model.Image))
        {
            <img src = "http://lorempixel.com/400/200/sports/1/Dummy-Text/" class="img-fluid w-10 h-5" />
        }
        else
        {
        <img src="~/Images/PersonImages/@Html.DisplayFor(model => model.Image)" alt="" class="img-fluid w-10 h-5"   />
        }
    </div>
    <div class="mr-auto ml-auto mt-3 ">
        <h3>@Html.DisplayFor(model=>model.Name)</h3>
    </div>
    <hr />
<div>
    <h4>@Html.DisplayFor(model => model.Name) Details:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-12 thead-light border-bottom mt-3" style="color:royalblue">Personal Info</dt>
        <dd></dd>
        <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SonOrDaughterOf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SonOrDaughterOf)
        </dd>
        <dt class="col-sm-12 font-weight-bold border-bottom mt-3" style="color:royalblue">Contact Info</dt>
        <dd></dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-12 border-bottom mt-3" style="color:royalblue">Other Info</dt>
        <dd></dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hobby)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hobby)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Married)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Married)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EducationNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EducationNavigation.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FamilyNavigation.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GenderNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GenderNavigation.GenderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasMobileNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasMobileNavigation.HasMobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessionNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfessionNavigation.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleNavigation.Name)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dt class="col-sm-12 font-weight-bold border-bottom mt-3" style="color:royalblue">About Login,Signup Details</dt>
        <dd> </dd>
        <dt class="col-sm-12 font-weight-bold">Login User</dt>
        <dd></dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-12 font-weight-bold border-bottom mt-3" style="color:royalblue"> Sign up date and last modified</dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class="col-sm-12 font-weight-bold border-bottom mt-3" style="color:royalblue"> Login time and ip</dt>
        @ViewBag.l
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">how other see yor detail.</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Remove your Account</a> |
    <a asp-action="Index">Back to List</a>
</div>
